@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Inter:wght@200;300;400&display=swap');
body{
  font-family: "Inter";
}
.just{
  background-color: linear-gradient(180deg, #FAFCFD 9.01%, rgba(250, 252, 253, 0) 22.32%, rgba(250, 252, 253, 0) 66.67%, #FAFCFD 96.46%);
}
.box{
  box-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.1);
  background: rgba(250, 252, 253, 1);
}
.ant-input{
  background-color: #F3F7FE !important;
  height: 40px !important;
}
.ant-input-affix-wrapper{
  background-color: #F3F7FE !important;
}
.ant-btn >span {
  display: flex;
  justify-content: flex-start;
}
.slick-slide{
  margin: 0 5px;
}
.slick-next:before, .slick-prev:before{
  background-color: #000;
  border-radius: 10px;
  position: relative;
  top: -15px;
  margin-top: -15px;
}
